
.parrafo-estilo {
    font-size: 18px;
    background-color: lightblue;
}


.par {
    background-color: lightgrey;
}

.impar {
    background-color: lightyellow;
}


.fondo-pagina {
    background-color: lightcoral;
}

input:invalid {
    border: 2px solid red;
}

img.oculto {
    display: none;
}